# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
__pycache__

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.mypy_cache
venv*
.venv*
/audios
db
chattts.db

checkpoints_v2
/resources
processed
